@page "/comments/edit"
@using Microsoft.EntityFrameworkCore
@using CESIZen.Data.Entities
@inject IDbContextFactory<CESIZen.Data.Context.CESIZenDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Comment</h2>
<hr />
@if (Comment is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Comment" OnValidSubmit="UpdateComment" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Comment.Id" value="@Comment.Id" />
                <div class="mb-3">
                    <label for="content" class="form-label">Content:</label>
                    <InputText id="content" @bind-Value="Comment.Content" class="form-control" />
                    <ValidationMessage For="() => Comment.Content" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/comments">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Comment? Comment { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Comment ??= await context.Comments.FirstOrDefaultAsync(m => m.Id == Id);

        if (Comment is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task UpdateComment()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Comment!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!CommentExists(Comment!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/comments");
    }

    private bool CommentExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Comments.Any(e => e.Id == id);
    }
}
