@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CESIZen</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="user-greeting px-3 py-2 text-white">
                    <i class="bi bi-person-circle me-2"></i>
                    Bonjour @context.User.Identity?.Name !
                </div>
                <div class="nav-divider"></div>
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resources" Match="NavLinkMatch.All">
                <i class="bi bi-collection me-2"></i> Ressources
            </NavLink>
        </div>

        <AuthorizeView Roles="Administrateur,Super-Administrateur">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categories">
                        <i class="bi bi-tags me-2"></i> Catégories
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <i class="bi bi-people me-2"></i> Utilisateurs
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="userrights">
                        <i class="bi bi-shield-lock me-2"></i> Droits
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="statistics">
                        <i class="bi bi-bar-chart me-2"></i> Statistiques
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-divider"></div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <i class="bi bi-box-arrow-right me-2"></i> Déconnexion
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-divider"></div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <i class="bi bi-box-arrow-in-right me-2"></i> Connexion
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <i class="bi bi-person-plus me-2"></i> Inscription
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>