@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CESIZen</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="user-greeting px-3 py-2 text-white">
                    <i class="bi bi-person-circle me-2"></i>
                    Bonjour @context.User.Identity?.Name !
                </div>
                <div class="nav-divider"></div>
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="informationalArticles" Match="NavLinkMatch.All">
                <i class="bi bi-collection me-2"></i> <span class="custom-nav-item-txt"> Articles</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="relaxingActivities" Match="NavLinkMatch.All">
                <i class="bi bi-collection me-2"></i> <span class="custom-nav-item-txt"> Activités de détentes</span>
            </NavLink>
        </div>

        <AuthorizeView Roles="Administrateur">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categoriesInformation">
                        <i class="bi bi-tags me-2"></i> <span class="custom-nav-item-txt"> Catégories articles</span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categoriesRelaxingActivity">
                        <i class="bi bi-tags me-2"></i> <span class="custom-nav-item-txt"> Catégories Activités</span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <i class="bi bi-people me-2"></i> <span class="custom-nav-item-txt"> Utilisateurs</span>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-divider"></div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <i class="bi bi-box-arrow-right me-2"></i> <span class="custom-nav-item-txt"> Déconnexion</span>
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-divider"></div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <i class="bi bi-box-arrow-in-right me-2"></i> <span class="custom-nav-item-txt"> Connexion</span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <i class="bi bi-person-plus me-2"></i> <span class="custom-nav-item-txt"> Inscription</span>
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>